/* Reset all styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Reset all styles end*/

/* Body */

body {
    margin: auto;
    padding:20px;
    width: 960px;
}

/* Topbar */

.topnav {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.23);
    overflow: hidden;
}

    .topnav a {
        color: #f95105;
        text-decoration: none;
        font-size: 12px;
        font-family: Verdana;
    }

        .topnav-list > li{
            float: left;
        }

/* Header */

.header {
    padding-top: 20px;
}

    .topheader {
        height: 60px;
    }

        .logo{
            float: left;
        }

            #education-text {
                font-family: Georgia;
                font-size: 42px;
                color: #656565;
            }

            #freepsd-text {
                font-family: Georgia;
                font-size: 12px;
                color: #656565;
            }

        .banner {
            float: right;
        }

            #banner-img {

            }

    .bottomheader {
        height: 44px;
        margin-top: 20px;
        background-color: #5c5c5c;
    }

        .navbar {
            float:left;

        }

            .navbuttons > li{
                float:left
            }

                .navbuttons > li > a{
                    font-family: Verdana;
                    font-size: 12px;
                    display: block;
                    color:white;
                    text-align: center;
                    padding: 16px 20px;
                    margin-left: 20px;
                    text-decoration: none;
                    cursor: pointer;
                }

                .navbuttons li a:hover:not(.active) {
                    background-color: #f95105;
                }

            .navbuttons > li:nth-child(1) > a{
                background-color: #f95105;
            }

        .search {
            float:right;
            padding-right: 20px;
        }

            .search > form {
                padding-top: 11px;
                padding-bottom: 11px;
            }

                #search-field {
                    height: 22px;
                }

                #search-submit {
                    padding: 0px 10px;
                    border: 1px solid black;
                    background-color: #f95105;
                    margin-left: 10px;
                    height: 22px;
                    font-size: 14px;
                    font-family: Verdana;
                    color: white;
                    cursor: pointer;
                }

/* Featured */

.featured {
    margin: 20px;
    padding-top: 20px;
    height: 300px;
}

    .featured-image {
        width: 600px;
        height: 300px;
        float: left;
    }

    .featured-info {
        width: 280px;
        height: 260px;
        float: right;
        background-color: #f95105;
        padding: 20px;
    }

        .featured-info > li {
            list-style-type: none;

        }

            .featured-info h2 {
                font-family: Georgia;
                font-size: 20px;
                color: white;
                padding-bottom: 20px;
            }

            .featured-info li:nth-child(2) {
                height: 180px;
            }

                .featured-info p {
                    font-family: Verdana;
                    font-size: 12px;
                    line-height: 1.6;
                    color: white;
                }

        .featured-info > button {
            height: 25px;
            width: 160px;
            font-family: Verdana;
            font-size: 13px;
            color: #f95105;
            background-color: black;
            border: none;
            float: right;
            margin-top: 20px;
            cursor: pointer;
        }

/* Content */

.content {
    margin: 20px;
}

.content > table {
    width: 600px;
}

/* First column */

    .left-content {
        float: left;
        margin-top: 20px;
    }

    .content > table > tbody > tr > td:first-child {
        width: 600px;
        padding-bottom: 20px;
    }

/* First string */

        .small-image {
            float: left;
            margin-right: 20px;
            position: relative;
        }

        .small-image:last-child {
            margin-right: 0;
        }

        .small-image > img {
            width: 135px;
            height: 120px;
        }

        .overlay {
            position: absolute;
            bottom: 2px;
            right: 0px;
            width: 135px;
            height: 20px;
            background: rgb(71, 67, 64);
            opacity: 0.6;
        }

        .overlay-text {
            position: absolute;
            font-family: Verdana;
            font-size: 11px;
            color: white;
            margin: 4px;
        }

/* Second string (text) */

        .about {
            padding-top: 20px;
        }

        .about > h2 {
            font-size: 18px;
            font-family: Verdana;
            color: rgb(102, 102, 102);
            line-height: 2;
            border-bottom: 1px solid rgba(0,0,0,0.23);
        }

        .about > p {
            margin-top: 20px;
            font-size: 12px;
            font-family: "Verdana";
            color: rgb(102, 102, 102);
            line-height: 1.2;
        }

/* Second column */

    .right-content {
        float: left;
        width: 300px;
        padding-left: 20px;
        padding-bottom: 40px;
    }

    .right-content td {
        padding-top: 20px;
        height: 126px;
        border-bottom: 1px solid rgba(0,0,0,0.23);
        vertical-align: top;
    }

    .right-content h3 {
        font-family: Verdana;
        font-size: 13px;
        font-weight: bold;
        color: rgb(102, 102, 102);
        line-height: 1.6;
    }

    .right-content p {
        font-family: Verdana;
        font-size: 12px;
        color: rgb(102, 102, 102);
        line-height: 1.6;
    }

    .right-content a {
        font-size: 12px;
        font-family: Verdana;
        color: rgb(249, 81, 5);
        line-height: 1;
        float: right;
        padding-bottom: 10px;
        cursor: pointer;
    }

/* Text and header */

        .article tr td:nth-child(2) h3 {
            padding-left: 10px;
            padding-right: 10px;
        }

        .article tr td:nth-child(2) p {
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
        }

/* Footer */

/* Footer info */

.footer .footer-info{
    border-bottom: 1px solid white;
}

.footer table {
    background-color: black;
    width: 960px;
    height: 172px;
}

.footer td {
    color: white;
    padding: 20px;
}

/* Footer email */

    .footer .email {
        padding-right: 20px;
        width: 300px;
        height: 112px;
    }

        .footer-info h2 {
            font-size: 20px;
            font-family: Georgia;
            color: rgb(152, 152, 154);
            padding-bottom: 5px;
            border-bottom: 1px solid rgb(76, 76, 76);
        }

        .footer-info .email p {
            font-size: 12px;
            font-family: "Verdana";
            color: rgb(152, 152, 154);
            line-height: 40px;
        }

        .footer-info .email-field {
            width: 245px;
            height: 25px;
            border: 0;
        }

        .footer-info .email-confirm {
            width: 38px;
            height: 25px;
            font-size: 14px;
            font-family: "Verdana";
            padding: 0;
            border: 0;
            background: white;
            cursor: pointer;
        }

        .footer-info .email a{
            font-size: 12px;
            font-family: "Verdana";
            color: rgb(152, 152, 154);
            line-height: 40px;
            cursor: pointer;
        }

/* Footer service and title text */

    .footer .services {
        padding-left: 20px;
        width: 180px;
        height: 112px;
    }

    .footer .links {
        padding-top: 10px;
    }

        .footer .links a {
        font-size: 12px;
        font-family: Verdana;
        color: rgb(249, 81, 5);
        line-height: 1.36;
        float: left;
    }

    .footer .title-text {
        padding-left: 10px;
        width: 180px;
        height: 112px;
    }

/* Footer copyright */

    .footer .copyright {
        width: 920px;
        padding-left: 20px;
        padding-right: 20px;
        height: 45px;
        background-color: rgb(102, 102, 102);

    }

    .copyright-reserved {
        float: left;
        line-height: 45px;
        vertical-align: middle;
        font-size: 12px;
        font-family: "Verdana";
        color: rgb(255, 255, 255)
    }

    .copyright-by {
        float: right;
        line-height: 45px;
        vertical-align: middle;
        font-size: 12px;
        font-family: "Verdana";
        color: rgb(255, 255, 255)
    }